doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='遠見國際會計師事務所')
    meta(name='keywords' content='遠見國際會計師事務所')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../../img/.ico')
    title 遠見國際會計師事務所
    link(rel='stylesheet' href='../../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../../css/new.css?v=80424')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only 選單切換
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../../index.html')
              .logo
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../../index.html') 首頁
              li
                a(href='service.html') 服務項目
              li
                a(href='about.html') 關於我們
              li
                a(href='question.html') 常見問題
              li
                a.contacta(href='contact.html') 聯絡我們
                  i.glyphicon.glyphicon-envelope
          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../../img/icon_home.png',alt='')
            a(href='../../index.html') 首頁
          li.active
            a(href='news.html') 最新稅務消息

    //header
    header.text-center

    //main
    main.text-center
      .container
        h2 最新稅務消息
        .wrapper
          //img(src='../../img/news_02.jpg',alt='')
          .clearfix
          span 銷貨退回認列年度
          span 2018/04/22
          .clearfix
          hr
          .text-justify
            p 財政部北區國稅局表示，近來接獲公司來電詢問，如銷售貨物於次年度才發生銷貨退回，應於何時辦理銷貨退回會計處理？
            br
            p 該局說明，銷貨退回已在帳簿記錄沖轉並依統一發票使用辦法第20條規定取得憑證或有其他確實證據證明銷貨退回事實者，應予認定。營利事業銷售商品後，客戶如以瑕疵或規格不合等原因退貨，該營利事業除應取具客戶出具銷貨退回證明單等相關文據外，並應將該銷貨退回列報為實際退回年度之銷貨收入減項。如營利事業之銷貨於次年度發生退回，其銷貨退回因所屬會計年度不同，應列為次年度銷貨退回處理。
            br
            p 該局提醒，營利事業發生銷貨退回時，應注意入帳會計年度是否正確，以免申報錯誤遭核定補稅。(節錄國稅局新聞稿)
          a.newsbtn(href='../news.html') 回列表頁



    //footer
    footer.text-center
      .container
        .list.list1
          h5 About Us
          ul
            li
              a(href='about.html') 關於我們
            li
              a(href='about.html') 服務團隊
            li
              a(href='about.html') 合作夥伴
        .list.list2
          h5 Services
          ul
            li
              a(href='service.html') 服務項目
            li
              a(href='question.html') 常見問題
        .list.list3
          h5 Contact
          ul
            li
              a(href='contact.html') 聯絡我們
            li
              a(href='job.html') 人才招募
        hr
        ul.information
          li 11071 台北市信義區忠孝東路4段560號10樓之2
          li TEL：02-2758-7126    FAX：02-2758-7100
          li EMAIL：danny.wu@visioncpa.com.tw

    //script
    script(src='../../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../../js/index.js?v=80424')
