doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='遠見國際會計師事務所')
    meta(name='keywords' content='遠見國際會計師事務所')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../../img/logo.ico')
    title 遠見國際會計師事務所
    link(rel='stylesheet' href='../../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../../css/new.css?v=80424')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only 選單切換
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../../index.html')
              .logo
                h1 VISION 遠見國際會計師事務所
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../../index.html') 首頁
              li
                a(href='service.html') 服務項目
              li
                a(href='about.html') 關於我們
              li
                a(href='question.html') 常見問題
              li
                a.contacta(href='contact.html') 聯絡我們
                  i.glyphicon.glyphicon-envelope
          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../../img/icon_home.png',alt='首頁')
            a(href='../../index.html') 首頁
          li.active
            a(href='news.html') 最新稅務消息

    //header
    header.text-center

    //main
    main.text-center
      .container
        h2 最新稅務消息
        .wrapper
          //img(src='../../img/news_03.jpg',alt='')
          .clearfix
          span 營利事業以存貨向租賃公司融資借款，不得以進、銷貨認列
          span 2018/04/24
          .clearfix
          hr
          .text-justify
            p 財政部北區國稅局表示：公司與租賃公司簽有買賣合約書，以存貨向租賃公司辦理融資借款，並互開統一發票，但實際上該存貨仍在公司，是否可以統一發票金額認列進、銷貨？
            br
            p 該局說明，營利事業因營業所需，以存貨向租賃公司融資借款，雖簽有買賣合約書且互相開立統一發票，然究其本旨係以取得營業資金為目的，依實質課稅原則，其性質為融資借款，並非商品買賣行為，故不得以統一發票金額認列為進、銷貨，至於互開統一發票金額之差額，應按借款期間核實認列為利息支出。
            br
            p 舉例來說，甲汽車公司因營業所需與乙租賃公司簽訂買賣合約書，以存貨向乙租賃公司融資借款10,000,000元，並開立統一發票予乙租賃公司，借款期間106年1月1日至107年6月30日，並取得乙租賃公司開立之統一發票金額10,900,000元，差額（假設採平均法計算利息）依借款期間18個月計算每月應攤銷利息支出為50,000元，則106年度認列利息支出為600,000元、107年度認列利息支出為300,000元。(節錄國稅局新聞稿)
          a.newsbtn(href='../news.html') 回列表頁



    //footer
    footer.text-center
      .container
        .list.list1
          h5 About Us
          ul
            li
              a(href='about.html') 關於我們
            li
              a(href='about.html?5') 服務團隊
            li
              a(href='about.html?6') 合作夥伴
        .list.list2
          h5 Services
          ul
            li
              a(href='service.html') 服務項目
            li
              a(href='question.html') 常見問題
        .list.list3
          h5 Contact
          ul
            li
              a(href='contact.html') 聯絡我們
            li
              a(href='job.html') 人才招募
        hr
        ul.information
          li 11071 台北市信義區忠孝東路4段560號10樓之2
          li TEL：02-2758-7126    FAX：02-2758-7100
          li MAIL：
            a#mail(href='../contact.html') 客服信箱請按此

    //script
    script(src='../../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../../js/index.js?v=80424')
