doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='Vision International C.P.A. Firm')
    meta(name='keywords' content='Vision International C.P.A. Firm')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../img/logo.ico')
    title Vision International C.P.A. Firm
    link(rel='stylesheet' href='../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/news.css?v=180511')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-119593980-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-119593980-1');

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only menu change
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../index.html')
              .logo
                h1 Vision International C.P.A. Firm
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../index.html') Home
              li
                a(href='service.html') Service Items
              li
                a(href='about.html') About Vision
              li
                a(href='question.html') Questions
              li
                a.contacta(href='contact.html') Contact Us
                  i.glyphicon.glyphicon-envelope
              li#lang
                a(href='../../html/news.html?p=1') 中文

          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../img/icon_home.png',alt='Home')
            a(href='../index.html') Home
          li.active
            a(href='news.html') Latest Tax News

    //header
    header.text-center

    //main
    main.text-center
      .container
        h2 Latest Tax News
        .wrapper
          .news.row.text-left
            .new.row
              .col-sm-24
                h5#home_title_a
                p#home_date_a
                p#home_summary_a
                a#home_link_a(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_b
                p#home_date_b
                p#home_summary_b
                a#home_link_b(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_c
                p#home_date_c
                p#home_summary_c
                a#home_link_c(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_d
                p#home_date_d
                p#home_summary_d
                a#home_link_d(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_e
                p#home_date_e
                p#home_summary_e
                a#home_link_e(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_f
                p#home_date_f
                p#home_summary_f
                a#home_link_f(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_g
                p#home_date_g
                p#home_summary_g
                a#home_link_g(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_h
                p#home_date_h
                p#home_summary_h
                a#home_link_h(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_i
                p#home_date_i
                p#home_summary_i
                a#home_link_i(href='new.html')
            hr
            .new.row
              .col-sm-24
                h5#home_title_j
                p#home_date_j
                p#home_summary_j
                a#home_link_j(href='new.html')
          .pages
          a.newsbtn(href='../index.html') To Home

    //footer
    include _footer.pug

    //script
    script(src='../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../js/index.js')
    script(src='../../js/news.js')
    script.
      var newshref = location.href;
      var newshrefpe = newshref.indexOf('p=');
      var newsnumber = newshref.substring(newshrefpe+2, newshref.length);
      var newsAcount = news.length;
      if(newsAcount%10==0){
        var pageAcount = parseInt(newsAcount/10);
      }else{
        var pageAcount = parseInt(newsAcount/10)+1;
      }

      //底下分頁
      for(i=0;i<pageAcount;i++){
        $('.pages').append('<a href="news.html?p='+(i+1)+'">'+(i+1)+'</a>');
      }
      $('.pages a:eq('+(newsnumber-1)+')').addClass('activea');


      //新聞
      var a = news.length -(newsnumber-1)*10 - 1;
      $('#home_title_a').text(news[a].title);
      $('#home_date_a').text(news[a].date);
      $('#home_summary_a').text(news[a].summary+'...');
      var alink = $('#home_link_a').attr('href');
      var alink_new = alink + '?=' + a;
      $('#home_link_a').attr('href',alink_new).text('More');

      var b = news.length -(newsnumber-1)*10 - 2;
      $('#home_title_b').text(news[b].title);
      $('#home_date_b').text(news[b].date);
      $('#home_summary_b').text(news[b].summary+'...');
      var blink = $('#home_link_b').attr('href');
      var blink_new = blink + '?=' + b;
      $('#home_link_b').attr('href',blink_new).text('More');

      var c = news.length -(newsnumber-1)*10 - 3;
      $('#home_title_c').text(news[c].title);
      $('#home_date_c').text(news[c].date);
      $('#home_summary_c').text(news[c].summary+'...');
      var clink = $('#home_link_c').attr('href');
      var clink_new = clink + '?=' + c;
      $('#home_link_c').attr('href',clink_new).text('More');
      
      var d = news.length -(newsnumber-1)*10 - 4;
      $('#home_title_d').text(news[d].title);
      $('#home_date_d').text(news[d].date);
      $('#home_summary_d').text(news[d].summary+'...');
      var dlink = $('#home_link_d').attr('href');
      var dlink_new = dlink + '?=' + d;
      $('#home_link_d').attr('href',dlink_new).text('More');

      var e = news.length -(newsnumber-1)*10 - 5;
      $('#home_title_e').text(news[e].title);
      $('#home_date_e').text(news[e].date);
      $('#home_summary_e').text(news[e].summary+'...');
      var elink = $('#home_link_e').attr('href');
      var elink_new = elink + '?=' + e;
      $('#home_link_e').attr('href',elink_new).text('More');

      var f = news.length -(newsnumber-1)*10 - 6;
      $('#home_title_f').text(news[f].title);
      $('#home_date_f').text(news[f].date);
      $('#home_summary_f').text(news[f].summary+'...');
      var flink = $('#home_link_f').attr('href');
      var flink_new = flink + '?=' + f;
      $('#home_link_f').attr('href',flink_new).text('More');

      var g = news.length -(newsnumber-1)*10 - 7;
      $('#home_title_g').text(news[g].title);
      $('#home_date_g').text(news[g].date);
      $('#home_summary_g').text(news[g].summary+'...');
      var glink = $('#home_link_g').attr('href');
      var glink_new = glink + '?=' + g;
      $('#home_link_g').attr('href',glink_new).text('More');

      var h = news.length -(newsnumber-1)*10 - 8;
      $('#home_title_h').text(news[h].title);
      $('#home_date_h').text(news[h].date);
      $('#home_summary_h').text(news[h].summary+'...');
      var hlink = $('#home_link_h').attr('href');
      var hlink_new = hlink + '?=' + h;
      $('#home_link_h').attr('href',hlink_new).text('More');

      var i = news.length -(newsnumber-1)*10 - 9;
      $('#home_title_i').text(news[i].title);
      $('#home_date_i').text(news[i].date);
      $('#home_summary_i').text(news[i].summary+'...');
      var ilink = $('#home_link_i').attr('href');
      var ilink_new = ilink + '?=' + i;
      $('#home_link_i').attr('href',ilink_new).text('More');

      var j = news.length -(newsnumber-1)*10 -10;
      $('#home_title_j').text(news[j].title);
      $('#home_date_j').text(news[j].date);
      $('#home_summary_j').text(news[j].summary+'...');
      var jlink = $('#home_link_j').attr('href');
      var jlink_new = jlink + '?=' + j;
      $('#home_link_j').attr('href',jlink_new).text('More');
