footer.text-center
  .container
    .list.list1
      h5 About Us
      ul
        li
          a(href='about.html') 關於我們
        li
          a(href='about.html?5') 服務團隊
        li
          a(href='about.html?6') 合作夥伴
    .list.list2
      h5 Services
      ul
        li
          a(href='service.html') 服務項目
        li
          a(href='question.html') 常見問題
    .list.list3
      h5 Contact
      ul
        li
          a(href='contact.html') 聯絡我們
        li
          a(href='job.html') 人才招募
    hr
    ul.information
      li 11071 台北市信義區忠孝東路4段560號10樓之2
      li TEL：02-2758-7126    &nbsp;&nbsp;&nbsp;FAX：02-2758-7100
      li
        a#mail(href='contact.html') 客服信箱請按此
      br
      p 遠見國際會計師事務所 © 2018 All Rights Reserved.