doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='遠見國際會計師事務所')
    meta(name='keywords' content='遠見國際會計師事務所')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../img/.ico')
    title 遠見國際會計師事務所
    link(rel='stylesheet' href='../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/contact.css?v=80411')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only 選單切換
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../index.html')
              .logo
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../index.html') 首頁
              li
                a(href='service.html') 服務項目
              li
                a(href='about.html') 關於我們
              li
                a(href='question.html') 常見問題
              li
                a.contacta(href='contact.html') 聯絡我們
                  i.glyphicon.glyphicon-envelope
          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../img/icon_home.png',alt='')
            a(href='../index.html') 首頁
          li.active
            a(href='contact.html') 聯絡我們

    //header
    header.text-center
      img.img(src='../img/contact_bg.jpg',alt='')
      .headertext.text-left
        p 如有任何問題需要諮詢，
        p 敬請填寫於下列表單，我們將有專人為您服務

    //main
    main.text-center
      .container
        h2 聯絡我們
        .row
          .col-sm-12.map
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14459.179926246885!2d121.54838176419528!3d25.041030783106326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjXCsDAyJzI3LjYiTiAxMjHCsDMzJzI1LjgiRQ!5e0!3m2!1szh-TW!2stw!4v1522119563088" width="500" height="380" frameborder="0" style="border:0" allowfullscreen)
          .col-sm-12
            .form.text-right
              span 姓名：
              input(type='text' placeholder='請填入您的姓名')
              br
              span 聯絡電話：
              input(type='text' placeholder='請填入您的聯絡電話或手機')
              br
              span 聯絡Email：
              input(type='text' placeholder='請填入您的電子信箱')
              br
              span.areaspan 諮詢內容：
              textarea.area(type='textarea' placeholder='請填入您想諮詢的內容' rows='6')
            .submit 送出

    //footer
    footer.text-center
      .container
        .list.list1
          h5 About Us
          ul
            li
              a(href='about.html') 關於我們
            li
              a(href='about.html') 服務團隊
            li
              a(href='about.html') 合作夥伴
        .list.list2
          h5 Services
          ul
            li
              a(href='service.html') 服務項目
            li
              a(href='question.html') 常見問題
        .list.list3
          h5 Contact
          ul
            li
              a(href='contact.html') 聯絡我們
            li
              a(href='job.html') 人才招募
        hr
        ul.information
          li 11071 台北市信義區忠孝東路4段560號10樓之2
          li TEL：02-2758-7126    FAX：02-2758-7100
          li EMAIL：danny.wu@visioncpa.com.tw

    //script
    script(src='../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../js/index.js?v=80411')
