doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='遠見國際會計師事務所')
    meta(name='keywords' content='遠見國際會計師事務所')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../img/.ico')
    title 遠見國際會計師事務所
    link(rel='stylesheet' href='../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/contact.css?v=80424')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only 選單切換
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../index.html')
              .logo
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../index.html') 首頁
              li
                a(href='service.html') 服務項目
              li
                a(href='about.html') 關於我們
              li
                a(href='question.html') 常見問題
              li
                a.contacta(href='contact.html') 聯絡我們
                  i.glyphicon.glyphicon-envelope
          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../img/icon_home.png',alt='')
            a(href='../index.html') 首頁
          li.active
            a(href='contact.html') 人才招募

    //header
    header.text-center
      img.img(src='../img/job_bg.jpg',alt='')
      .headertext.text-left

    //main
    main.text-center
      .container
        h2 人才招募
        .row
          .col-sm-24
            .welcome
              h4 歡迎加入遠見團隊
              br
              span 請先投遞電子履歷表並註明應徵職位
              br
              span 經資格審查擇優另行通知面試
              br
              br
              span Email： 
              a(href='mailto:trancy.lin@visioncpa.com.tw') trancy.lin@visioncpa.com.tw
              br
              span 來電請洽：(02)2758-7126轉分機826 林經理

    //footer
    footer.text-center
      .container
        .list.list1
          h5 About Us
          ul
            li
              a(href='about.html') 關於我們
            li
              a(href='about.html') 服務團隊
            li
              a(href='about.html') 合作夥伴
        .list.list2
          h5 Services
          ul
            li
              a(href='service.html') 服務項目
            li
              a(href='question.html') 常見問題
        .list.list3
          h5 Contact
          ul
            li
              a(href='contact.html') 聯絡我們
            li
              a(href='job.html') 人才招募
        hr
        ul.information
          li 11071 台北市信義區忠孝東路4段560號10樓之2
          li TEL：02-2758-7126    FAX：02-2758-7100
          li EMAIL：danny.wu@visioncpa.com.tw

    //script
    script(src='../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../js/index.js?v=80424')
