doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //meta(name='viewport' content='width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no')
    meta(name='description' content='遠見國際會計師事務所')
    meta(name='keywords' content='遠見國際會計師事務所')
    meta(name='author' content='Bohan Huang')
    link(rel='shortcut icon' href='../img/.ico')
    title 遠見國際會計師事務所
    link(rel='stylesheet' href='../plugins/bootstrap-3.3.1-24/css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/question.css')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //gotop
    #gotop
      i.glyphicon.glyphicon-menu-up

    //nav
    .nav
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
              span.sr-only 選單切換
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='../index.html')
              img.logo(src='../img/logo.png' alt='logo')
          // 手機隱藏選單區
          .collapse.navbar-collapse.navbar-ex1-collapse
            // 右選單
            ul.nav.navbar-nav.navbar-right
              li
                a(href='../index.html') 首頁
              li
                a(href='service.html') 服務項目
              li
                a(href='about.html') 關於我們
              li.active
                a(href='question.html') 常見問題
              li
                a.contacta(href='contact.html') 聯絡我們
                  i.glyphicon.glyphicon-envelope
          // 手機隱藏選單區結束

    //breadcrumb
    .bread
      .container
        ul.breadcrumb
          li
            img(src='../img/icon_home.png',alt='')
            a(href='../index.html') 首頁
          li.active
            a(href='question.html') 常見問題

    //header
    header.text-center
      img.img(src='../img/question_bg.jpg',alt='')

    //main
    main.text-left
      .container
        h2.text-center 常見問題
        .wrapper
          .question
            .q.activeq
              .qb.activeqb Q
              span 持有未滿2年之房屋及其坐落基地與他人交換其持有未滿1年之都市土地，應否要申報特種貨及勞務稅？
            .a A：依特種貨物及勞務稅條例第2條1項規定，持有期間在2年以內之房屋及其坐落基地或依法得核發建造執照之都市土地，於銷售時課徵特種貨物及勞務稅，但符合第5條規定者不包括之。假若不動產所有權人以持有未滿2年之房屋及其坐落基地與他人交換其持有未滿1年得核發建造執照之都市土地，兩人皆應申報特種貨物及勞務稅，按本條例施行細則第25條規定，其銷售價格，應以換出或換入之時價，從高認定。又依本條例第16條及第17條規定，應在訂定交換契約次日起30日內計算應納稅額，填具繳款書向公庫繳繳納，並填具申報書，檢附繳納收據、契約書及其他有關文件，向戶籍所在地國稅局申報。
          .question
            .q
              .qb Q
              span 公司解散應在何時申報未分配盈餘？
            .a A：南區國稅局表示，有關未分配盈餘之課徵，係按個別年度計算課稅，從而應依個別年度分別辦理申報，不因營利事業有解散情事而變更，惟就解散之公司，其解散年度之當期決算所得額及前1年度之盈餘，實務上常不能及時在公司解散日辦理盈餘分派，而是併同清算後剩餘財產辦理分配，基於簡政便民之考量，決算期間的盈餘，免辦理未分配盈餘申報。至於解散前1年度之盈餘，如在解散日所屬會計年度結束前，已辦理清算完結者，免辦理未分配盈餘申報。但如於解散日所屬會計年度結束前，尚未清算完結者，其前1年度之盈餘仍應於規定之期限內申報。又如於上述申報期限屆滿前辦理清算完結者，應於清算完結日前辦理申報。舉例說明如下：甲公司在100年8月31日解散，其決算期間即100年1月1日至100年8月31日的盈餘，免辦理未分配盈餘申報。甲公司如在100年12月31日前辦理清算完結，則99年度之盈餘，免辦理未分配盈餘申報，但應將99年度及100年度之盈餘，併同清算後剩餘財產辦理分配；如甲公司係在101年2月1日辦理清算完結，則應在101年2月1日前，辦理99年度未分配盈餘申報；如係在101年7月1日才辦理清算完結，應該在101年5月1日至101年5月31日，申報99年度未分配盈餘。該局提醒公司如有解散情事，應依規定辦理未分配盈餘申報，以免因未申報而遭加徵滯報金或怠報金。
          .question
            .q
              .qb Q
              span 年終舉辦尾牙摸彩之支出可否列報費用？
            .a A：南區國稅局表示，營利事業已依法成立職工福利委員會，並依規定提撥職工福利金者，舉辦員工摸彩及聚餐等所支付之費用應先在福利金項下列支，不足時，其超出部分，確實是由營利事業負擔者，可以其他費用科目列支。至於營利事業未成立職工福利委員會者，舉辦員工摸彩及聚餐等所支付之費用，可以職工福利科目列報，如果職工福利科目超限，超過部分再改以其他費用科目列支。
          .question
            .q
              .qb Q
              span 給付國外佣金支出係透過第三者轉付者，是否應提供轉付之資金證明文件？
            .a A：財政部臺灣省中區國稅局表示，營利事業申報佣金支出時，應依營利事業所得稅查核準則第92條第1款規定，提示雙方契約，或其他具居間仲介事實之相關證明文件，俾供國稅局核實認定。至於佣金支出之原始憑證，依據前揭查核準則同條第5款規定，已辦理結匯者，應提示結匯銀行書明匯款人及國外受款人姓名（名稱）、地址、結匯金額、日期等之結匯證明；未辦理結匯者，應提示銀行匯付或轉付之證明文件。營利事業如因某些因素將佣金匯付給非合約所載代理（銷）商之個人或公司，若無法提出匯入個人或公司帳戶之各筆佣金已轉付國外代理（銷）商之證明者，將不予認列。該局日前查核某公司98年度營利事業所得稅結算申報案時，發現該公司列報佣金支出1千4百餘萬元，雖已提示與國外代理商簽訂之佣金合約，惟其資金之證明文件卻係沖減與國外代理商同一國之外銷廠商應收帳款，而非匯付佣金合約所載代理商，因該公司無法提出該外銷廠商再轉付國外代理商之資金證明，以致遭剔除補稅。該局呼籲，營利事業列報佣金支出時，除應提示所簽訂之佣金合約外，尚應注意保存佣金支出匯付轉付之相關證明文件，以利日後稽徵機關之查核。
          .question
            .q
              .qb Q
              span 未設置帳簿之醫院、診所負責人該如何申報健保收入之所得額？
            .a A：財政部高雄市國稅局表示：每年5月份綜合所得稅申報期間，部分未依規定設置帳簿之醫院、診所負責人對於健保收入及費用該如何計算執行業務所得仍不甚瞭解。國稅局說明如下：依財政部相關函釋，醫療院所健保收入的費用計算標準已於95年大改革，係按核定點數每點0.78元計算，不再依核定收入之78％計算，且部分負擔收入亦需納入健保收入一併計算其所得額。96年度起健保收入所得額核算公式為：（扣繳憑單金額＋部分負擔收入金額）－核定點數（含部分負擔）Ｘ0.78元－（94年度或以前年度追扣醫療款Ｘ78%）＋（94年度或以前年度補付醫療款Ｘ78%）該局進一步舉例說明：Ａ君開設嘉嘉診所，收到健保局核發99年度之扣繳憑單金額為2,500,000元，部分負擔收入金額1,000,000元，核定費用點數為3,180,000點，那100年5月申報99年度執行業務所得時，Ａ君應申報全民健康保險收入之執行業務所得額為：〔（2,500,000元＋1,000,000元）－3,180,000Ｘ0.78〕=1,019,600元。
          .question
            .q
              .qb Q
              span 境外基金以配發現金或單位數方式分配孳息，其投資人海外所得如何計算？
            .a A：財政部臺北市國稅局表示，有關投資人透過信託投資境外基金，如境外基金以配發現金或單位數方式分配孳息，受託人應如何計算投資人之所得額及認定其所得所屬年度，該局特別就其相關之課徵規定說明如下：一、投資人透過信託投資境外基金，如境外基金以配發現金（配息）或單位數（配權）方式分配孳息，如T日為配息（配權）基準日，T+14日為受託人收到配息（配權）之日，T+16日為受託人將配息（配權）分配予投資人之日，依所得稅法第3條之4第1項規定，信託財產發生之收入應由受益人於所得發生年度課稅，是投資人之海外所得應列入T+14日所屬年度。二、海外所得之計算：1. 境外基金以配發單位數方式分配孳息者，其所得額＝所配發之單位數×淨值×T+14日臺灣銀行買入及賣出該外國貨幣即期外匯收盤價之平均數。至該獲配之單位數嗣轉讓或申請買回時，應以上開配發時之淨值作為成本，計算交易損益。2. 境外基金以配發現金方式分配孳息，約定將該現金再投資單位數者，應以所配發之現金為其所得額。三、舉例說明︰1. 投資人張三於99年11月15日申購A境外基金500單位，每單位淨值為10美元〈資產價值5,000美元〉，99年12月20日為基金公司之配權基準日，獲得配股15股，除權後每單位淨值為99美元，受託人收到配權之日為100年1月3日，當時臺灣銀行買入及賣出美元即期外匯收盤價之平均數為30元，受託人於100年1月5日依約定將配權分配予投資人。2. 該筆所得依上開之規定計算如下︰投資人張三自境外基金獲配之所得應列入100年海外所得計算。99（美元）＊30（匯率）＊15單位＝新臺幣44,550元。該局進一步表示，投資者如為我國境內居住之個人，其取得上述之海外所得，自99年1月1日起，應依所得基本稅額條例第12條第1項第1款及第13條規定課徵基本稅額，投資者應特別注意依相關規定辦理所得稅結算申報，以免補稅受罰。
          .question
            .q
              .qb Q
              span 營利事業完成網路申報後，應檢附資料內容及期限？
            .a A：營利事業完成網路申報後，應於6月30日前將申報書附件資料封面、網路申報總表、損益及稅額計算表、資產負債表、股東可扣抵稅額帳戶變動明細申報表、未分配盈餘申報書（請依順序裝訂）及相關附件寄交所在地之國稅局分局、稽徵所或服務處。上述各表須加蓋營利事業及負責人、代表人或管理人章。
          .question
            .q
              .qb Q
              span 何種組織類型之機關團體可免辦理結算申報？
            .a A：1.各行業公會組織、同鄉會、同學會、校友會、宗親會及營利事業產業工會、各工會團體、各級學校學生家長會、國際獅子會、國際扶輪社、國際青年商會、國際同濟會、國際崇她社、社區發展協會、老人社會團體、各縣市工業發展投資策進會、身心障礙福利團體、各縣市工業區廠商協進會、義勇消防總隊，如當年度無任何營業或作業組織收入（包括無銷售貨物或勞務收入）僅有會費、捐贈、基金存款利息，且當年度會費、捐贈、基金存款利息收入總額及財產總額均未達新臺幣1億元者，即可免辦理結算申報。
          .question
            .q
              .qb Q
              span 營業人申請暫停營業，但復業時沒有申請，被查獲是不是要罰？
            .a A：營業人未依規定申請變更登記或申報暫停營業、復業者，除通知限期改正或補辦外，將處1,500元以上、1.5萬元以下罰鍰。逾期未改正或補辦者，得連續處罰至改正或補辦為止。
          .question
            .q
              .qb Q
              span 公司部分商品因過期而無法出售須報廢，應注意那些事項？
            .a A：南區國稅局嘉義縣分局答覆：營利事業辦理年終盤點，若發現部分商品或原料、物料、在製品等因過期、變質、破損或因呆滯而無法出售或加工製造等因素而須報廢者，除公開發行股票的公司，可依會計師查核簽證報告核實認定其報廢損失者外，應於事實發生後15日內檢具清單報請該管稽徵機關派員勘查監毀，或事業主管機關監毀並取具證明文件，經查明屬實者，始准認定。中小型企業如有商品或原料報廢時，應記得於事實發生後15日內依據前述規定處理，以維自身權益。

    //footer
    footer.text-center
      .container
        .list.list1
          h5 About Us
          ul
            li
              a(href='about.html') 關於我們
            li
              a(href='about.html') 服務團隊
            li
              a(href='about.html') 合作夥伴
        .list.list2
          h5 Services
          ul
            li
              a(href='service.html') 服務項目
            li
              a(href='question.html') 常見問題
        .list.list3
          h5 Contact
          ul
            li
              a(href='contact.html') 聯絡我們
            li
              a(href='contact.html') 人才招募
        hr
        ul.information
          li 11071 台北市信義區忠孝東路4段560號10樓之2
          li TEL：02-2758-7126    FAX：02-2758-7100
          li EMAIL：danny.wu@visioncpa.com.tw

    //script
    script(src='../js/jquery-2.1.4.min.js')
    //script(src='https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='../plugins/bootstrap-3.3.1-24/js/bootstrap.min.js')
    script(src='../js/index.js')
